//----------------------------------
//
// *
// * @authors liwenbo (you@example.org)
// * @date    2014/6/20 9:45
// * @version v1.00
// * @desc 此处定义一些引用模版，或组件之类的less，用于快速开发
// */
//----------------------------------
@import 'zeroui/variables';
@import 'zeroui/mixins';

// rest
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,menu{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}ol,ul,li{list-style:none;list-style-image:none}fieldset,img{border:none 0}b,strong{font-weight:bold}em,cite,i,th{font-style:normal}table{empty-cells:show;border-collapse:collapse}th,td{border-collapse:collapse}a,a:link,a:visited,a:hover,a:active{text-decoration:none;outline:0}input,select{font:100% arial,helvetica,clean,sans-serif}input,select,form,img,button,textarea{vertical-align:middle}button,select{text-transform:none}button{overflow:visible;cursor:pointer}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}:-moz-placeholder,::-webkit-input-placeholder{color:#999}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-8px}sub{bottom:-4px}abbr[title]{border-bottom:1px dotted}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:16px}.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}.clearfix{display:block}.fr{float:right}.fl{float:left}.none{display:none;}

// Box sizing
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

em,
b { font-style: normal; }


